
.container {
    display: block;
    clear: both;
}
.summary {
    display: inline-block;
    float: left;
    width: 46%;
    height: auto;
    margin: 15px 1%;
}
td {
    padding: 6px;
}
.red {
    color: red;
}